<!DOCTYPE html>
<html ng-app="aaa">
<head>
	<meta charset="UTF-8">
	<title>GuoKr-Mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/index.css">
   
</head>
<body>
	<header>
		<div class="header-info">
			<a href="javascript:;" class="menu">菜单</a>
			<h1 class="logo">GuoKr.com</h1>
			<a class="toggle-pc" href="javascript:;">PC</a>
		</div>
		<div class="header-nav">
			<a class="user-lgn" href="javascript:;">用户登录</a>
			<span class="line"></span>
			<a class="user-reg" href="javascript:;">用户注册</a>
		</div>
	</header>

	<!-- slider start -->
	<section>
		<div class="slider-box swiper-container">
			<ul class="slider-content swiper-wrapper">
				<li class="swiper-slide">
					<img src="image/1.jpg" alt="">
					<span>紫禁城的石头是如何运进去的?</span>
				</li>
				<li class="swiper-slide">
					<img src="image/2.jpg" alt="">
					<span>你最美</span>
				</li>
				<li class="swiper-slide">
					<img src="image/3.jpg" alt="">
					<span>谁是最可爱的人哪</span>
				</li>
				<li class="swiper-slide">
					<img src="image/4.jpg" alt="">
					<span>世界那么大</span>
				</li>
				<li class="swiper-slide">
					<img src="image/5.jpg" alt="">
					<span>最美丽的青年</span>
				</li>

			</ul>
		</div>
	</section>
	<!-- slider end -->

	<!-- listview start -->
	<section>
		<div class="listview">
			<ul ng-controller="show">
				<li ng-repeat="x in arr">
					<a href="javascript:;">{{x.content}}</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- listview end -->

	<!-- list-tab start -->
	<section>
		<div class="list-tab" ng-controller="show2">
			<div class="list-tab-title">
				<h3>热门回答</h3>
				<a class="more" href="javascript:;">更多</a>
			</div>
			<ul id="nav" class="list-tab-nav clearfix">
				<li ng-click="fnclick()" class="active">科技</li>
				<li ng-click="fnclick()">生活</li>
				<li ng-click="fnclick()">人文</li>
				<li ng-click="fnclick()">自然</li>
			</ul>
			<div class="listview">
				<ul>
					<li class="listview-hot">
						<h3><a href="javascript:;">{{arr2.content}}</a></h3>
						<div class="listview-hot-c">
							<img ng-src="{{arr2.url}}" alt="图片一">
							<p><a href="javascript:;">{{arr2.content}}</a></p>
						</div>
					</li>
					<li ng-repeat="x in arr3">
						<a href="javascript:;">{{x.content}}</a>
					</li>
				
				</ul>
			</div>
		</div>
	</section>
	<!-- list-tab end -->

	<!-- list-tab start -->
	<section>
		<div class="list-tab" ng-controller="show3">
			<div class="list-tab-title">
				<h3>热门回答</h3>
				<a class="more" href="javascript:;">更多</a>
			</div>
			<ul id="nav2"  class="list-tab-nav clearfix">
				<li ng-click="fnclick3()" class="active">科技</li>
				<li ng-click="fnclick3()">生活</li>
				<li ng-click="fnclick3()">人文</li>
				<li ng-click="fnclick3()">自然</li>
			</ul>
			<div class="listview">
				<ul>
				    <li class="listview-hot">
						<h3><a href="javascript:;">{{arr2.content}}</a></h3>
						<div class="listview-hot-c">
							<img ng-src="{{arr2.url}}" alt="图片一">
							<p>{{arr2.content}}</p>
						</div>
					</li>
					<li ng-repeat="x in arr3">
						<a href="javascript:;">{{x.content}}</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- list-tab end -->
	
	<!-- backToTop start -->
	<section>
		<div class="back-to-top">
			<a class="back" href="#">回到顶部</a>
		</div>
	</section>
	<!-- backToTop end -->

	<footer>
		<div class="footer">
			<a class="pc" href="javascript:;">PC版</a>
			<span class="line">line</span>
			<a class="mobile" href="javascript:;">移动应用</a>
		</div>
	</footer>
</body>
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/zepoto.min.js"></script>
    <script src="js/angular.js"></script>
	<script src=js/v.js> </script>
	 <script src="js/m.js"></script>

</html>